
<nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Logo</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
         <li routerLinkActive="active"><a routerLink="/contato" >Contato</a></li>
         <li routerLinkActive="active"><a routerLink="/cursos" >Cursos</a></li>
         <li routerLinkActive="active"><a routerLink="/alunos" >Alunos</a></li>
         <li routerLinkActive="active"><a routerLink="/login">login</a></li>
       
      </ul>
      <ul class="side-nav" id="mobile-demo">
         <li routerLinkActive="active"><a routerLink="/contato" >Contato</a></li>
         <li routerLinkActive="active"><a routerLink="/cursos" >Cursos</a></li>
         <li routerLinkActive="active"><a routerLink="/alunos" >Alunos</a></li>
         <li routerLinkActive="active"><a routerLink="/login">login</a></li>
      </ul>
    </div>
  </nav>
<div class="container">
  <router-outlet>

  </router-outlet>
</div>


